body {
    background-color: #00A2FF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scrollbar-color: #00A2FF #354156;
}


.content {
    margin: auto;
    max-width: 1400px;
}

.banner {
    text-align: center;
    margin: auto;
    height: 5vh;
}

.banner_button {
    width: 30%;
    float: left;
}

.content_left {
    width: 300px;
    float: left; /* [1] */
    background-color: #354156;
    border-color: #FFD932;
    border-width: 4px;
    border-style: solid;
    margin: 20px;
    overflow-y: scroll;
    height: 75vh;
    padding-right: 40px;
}
.content_right {
    background-color: #354156;
    overflow: auto; /* [2] */
    margin: 20px;
    max-width: 90%;
    overflow-y: scroll;
    height: 75vh;

    overflow-wrap: normal;
}

.export_button {
    width: 300px;
    justify-content: center;
    margin: auto;
    height: 5vh;
    font-family: 'Murden CF ExtraBold Cond', sans-serif;;
}

#filter_button {

    margin: 5px;
    width: 150px;
    height: 30px;
    font-size: 20px;
    background-color: lightblue;
}

.filter_modal_column{

    width: 180px;
    float: left;
    padding: 8px;
}

.filter_header{
    font-family: 'Murden CF ExtraBold Cond', sans-serif;
}

.code_checkbox{

    justify-content: left;
    text-align: left;
    margin-left: 5px;
}

.card {

    text-align: center;
    display: inline-block;
    width: 100%;
    max-width: 230px;
    margin: 5px;
}

#export_button{

    width:100%;
    height: 100%;
    font-size: 4vh;
}

#filter_modal {
    position: absolute;
    left: 30px;
    top: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: #FFD932;
    color: #FFF;
    width: 400px;
    height: 400px;
    background-color: #354156;
    text-align: left;
    padding: 3px;
}

img{
    width:100%;
    max-width:230px;
    box-shadow: 10px 10px 5px;
    z-index: 1;
}

img:active{
    max-width: 500px;
    width:500px;
    height:700px;
    z-index:2;
    position:absolute;
    left:100px;
    top:100px;
}

.quantity_text {
    color: #FFD932;
    font-family: 'Murden CF ExtraBold Cond', sans-serif;
}