.content {
    margin: auto;
    max-width: 1400px;
    
}

.banner {
    text-align: center;
    margin: auto;
    height: 5vh;
}

.banner_button {
    width: 50%;
    float: left;
}

.content_left {
    width: 300px;
    float: left; /* [1] */
    background-color: red;
    margin: 20px;
    overflow-y: scroll;
    height: 75vh;
    padding-right: 40px;
    
}
.content_right {
    background-color: blue;
    overflow: auto; /* [2] */
    margin: 20px;
    max-width: 90%;
    overflow-y: scroll;
    height: 75vh;

    overflow-wrap: normal;
}

.export_button {
    width: 300px;
    justify-content: center;
    background-color: green;
    margin: auto;
    height: 5vh;
}

#filter_button {

    margin: 5px;
    width: 150px;
    height: 30px;
    font-size: 20px;
    background-color: lightblue;
}

.filter_modal_column{

    width: 180px;
    float: left;
    padding: 8px;
}

.code_checkbox{

    justify-content: left;
    text-align: left;
    margin-left: 5px;
}

.card {

    text-align: center;
    display: inline-block;
    width: 100%;
    max-width: 236px;
    margin: 25px;

    
}

#export_button{

    width:100%;
    height: 100%;
    font-size: 40px;
}

#filter_modal {
    position: absolute;
    left: 30px;
    top: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 400px;
    height: 300px;
    background-color: gray;
    text-align: left;
    padding: 3px;
}

img{
    width:100%;
    max-width:275px;
}