<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>HBM Deck Builder</title>
    
    <link rel="stylesheet" href="static/stylesheet.css">
  </head>
  <body onload="loadPage()">
    <div class="content">
      <div class="banner">Click green circle to add card, red circle to remove card</div>
      <div class="banner" id="filters">List of filters goes here</div>
      <div class="content_left"></div>
      <div class="content_right"></div>
      <div class="export_button"><button id="export_button" onclick="exportDeckList()">Export</button></div>

    </div>



    <div id="scripts">
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js"></script>
      <script type="text/javascript" src="static/javascript.js"></script>
      <script type="text/javascript" src="static/messageHandlers.js"></script>
    </div>

  </body>
  </html>